@font-face {
  font-family: Norse-Bold;
  src: url(./Norse-Bold.otf);
}

body{
  margin: 0;
}

.bg-img {
  height: 100vh;
  width: 30vw;
  background-image: url(./images/pexels-photo-2088210.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card-body {
  position: absolute;
  width: 30vw;
  height: 15vh;
  background: black;
  opacity: 0.6;
  color: white;
  top: min(8rem, 30vh);
  text-align: center;
  font-size: 1.2em;
  font-family: roboto;

  display: flex;
  justify-content: center;
  align-items: center;
}


#odin-logo {
  height: 80%;
  width: auto;
}

p {
  font-family: Norse-Bold;
  font-size: 3em;
  margin: 0;
}